<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playlists</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="">WaveMatch</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/liked-songs">Liked Songs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/playlists">Playlist</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/search">Search</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container mt-4">

        <div class="card">
            <div class="card-body">
                <h2>Playlists</h2> <button id="refreshButton" class="btn btn-primary">Refresh Data</button>
                <% if (playlists.length> 0) { %>
                    <% playlists.forEach(playlist=> { %>
                        
                            <h3>
                                <%= playlist.displayName %> (<%= playlist.name %>)
                            </h3>
                            <% if (playlist.tracks.length> 0) { %>

                                <div style="overflow-x: auto;">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th scope="col">Track Name</th>
                                                <th scope="col">Album Name</th>
                                                <th scope="col">Tempo</th>
                                                <th scope="col">Valence</th>
                                                <th scope="col">Liveness</th>
                                                <th scope="col">Instrumentalness</th>
                                                <th scope="col">Acousticness</th>
                                                <th scope="col">Speechiness</th>
                                                <th scope="col">Mode</th>
                                                <th scope="col">Key</th>
                                                <th scope="col">Energy</th>
                                                <th scope="col">Danceability</th>
                                                <th scope="col">Duration (ms)</th>
                                                <th scope="col">Popularity</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% playlist.tracks.forEach(song=> { %>
                                                <tr>
                                                    <td>
                                                        <%= song.Track_name %>
                                                    </td>
                                                    <td>
                                                        <%= song.Album_name %>
                                                    </td>
                                                    <td>
                                                        <%= song.Tempo %>
                                                    </td>
                                                    <td>
                                                        <%= song.Valence %>
                                                    </td>
                                                    <td>
                                                        <%= song.Liveness %>
                                                    </td>
                                                    <td>
                                                        <%= song.Instrumentalness %>
                                                    </td>
                                                    <td>
                                                        <%= song.Acousticness %>
                                                    </td>
                                                    <td>
                                                        <%= song.Speechiness %>
                                                    </td>
                                                    <td>
                                                        <%= song.Mode %>
                                                    </td>
                                                    <td>
                                                        <%= song.MusicKey %>
                                                    </td>
                                                    <td>
                                                        <%= song.Energy %>
                                                    </td>
                                                    <td>
                                                        <%= song.Danceability %>
                                                    </td>
                                                    <td>
                                                        <%= song.Duration_ms %>
                                                    </td>
                                                    <td>
                                                        <%= song.Popularity %>
                                                    </td>
                                                </tr>
                                                <% }) %>

                                                    <% } else { %>
                                                        <p>This playlist doesn't have any songs.</p>
                                                        <% } %>
                                </div>
                                <% }) %>
                                    <% } else { %>
                                        <p>You don't have any playlists.</p>
                                        <% } %>
                        
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script>
            document.getElementById('refreshButton').addEventListener('click', function () {
                window.location.href = '/refresh';
            });
        </script>
</body>

</html>
